<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Chef Home</title>
    <style>.JumbotronBackground{
      color: rgb(231, 222, 222);
      background-image: url(https://reedrahn.com/images/food/food-photography-26.jpg);
      background-size: cover;
    }
    </style>
</head>
<body>
    
    <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Lee's Recipe Book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chef_courses">My Courses<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chef_recipes">My Recipes<span class="sr-only">(current)</span></a>
              </li>
          </ul>
          <ul class="navbar-nav  my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid JumbotronBackground text-center"> 
        <div class="container">
          <h1 class="text-dark">Welcome Back {{user.name}}</h1>
          <p class="text-dark">Share Your Knowledge.</p>
        </div>
      </div>
      
      <hr>
  
      <!--Cards-->
      <div class="container">
        <!--Row 1-->
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src={{best_starter.recipe_image}} alt="Top Starter Image">
              <div class="card-body">
                <h4 class="card-text">{{best_starter.recipe_name}}</h4> 
                <p class="card-text">{{best_starter.recipe_description}}</p>
                <p class="card-text">Likes: {{best_starter.recipe_likes}}</p>
                <hr>
                <a href="/chef_recipe/{{best_starter.id}}" class="btn btn-primary">See Recipe</a> 
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src={{best_main.recipe_image}} alt="Top Main Image">
              <div class="card-body">
                <h4 class="card-text">{{best_main.recipe_name}}</h4> 
                <p class="card-text">{{best_main.recipe_description}}</p>
                <p class="card-text">Likes: {{best_main.recipe_likes}}</p>
                <hr>
                <a href="/chef_recipe/{{best_main.id}}" class="btn btn-primary">See Recipe</a> 
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src={{best_dessert.recipe_image}} alt="Top Dessert Image">
              <div class="card-body">
                <h4 class="card-text">{{best_dessert.recipe_name}}</h4> 
                <p class="card-text">{{best_dessert.recipe_description}}</p>
                <p class="card-text">Likes: {{best_dessert.recipe_likes}}</p>
                <hr>
                <a href="/chef_recipe/{{best_dessert.id}}" class="btn btn-primary">See Recipe</a> 
              </div>
            </div>
          </div>
        </div>
          
        <hr>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>