<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lee's Recipe Book</title>
    <style>.JumbotronBackground{
      color: rgb(231, 222, 222);
      background-image: url(https://reedrahn.com/images/food/food-photography-26.jpg);
      background-size: cover;
    }
    </style>
  </head>

  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Lee's Recipe Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>    
        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Welcome<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Free Recipies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/starters">Lee's Starters</a>
              <a class="dropdown-item" href="/lee_mains">Lee's Mains</a>
              <a class="dropdown-item" href="/lee_desserts">Lee's Desserts</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav  my-2 my-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up<span class="sr-only">(current)</span></a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav> 

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid JumbotronBackground text-center"> 
      <div class="container">
        <h1 class="text-muted">Welcome to Lee's Recipe Book</h1>
        <p class="text-muted">Find your favourite recipes.</p>
        <a href="/about_us" class="btn btn-secondary">Read More</a>
      </div>
    </div>
    
    <div class="container">
      <h1 class="=section-header ">Lee's Recipe Book</h1>
      <p1 class="lead">Find your Flavours</p1>
    </div>

    <hr>

    <div class="container">
      <div>
        <p class="lead">What do we do?</p>
        <p1>Lee's Recipe Book is a platform that we've created to promote the sharing of great recipes and to help people find a new hobby they never though they could have. Promoting local chefs and helping others find their flair. Help us by becoming a member if you arent already and find many great recipes or sign up as a chef and share your expertise.</p1>
      </div>
      
    <hr>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>